<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>484351957512-sjl60471ajg5ruo9imt7vok1djsskani.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.484351957512-sjl60471ajg5ruo9imt7vok1djsskani</string>
	<key>API_KEY</key>
	<string>AIzaSyC9Mp3GUd8T80tuJC7cbYKok9klRukMD40</string>
	<key>GCM_SENDER_ID</key>
	<string>484351957512</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.react.native.example.rego</string>
	<key>PROJECT_ID</key>
	<string>crop-registration</string>
	<key>STORAGE_BUCKET</key>
	<string>crop-registration.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:484351957512:ios:eb2aaa108ea40511a80fbd</string>
	<key>DATABASE_URL</key>
	<string>https://crop-registration-default-rtdb.firebaseio.com</string>
</dict>
</plist>